* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #030303;
    font-family: 'system-ui', sans-serif;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 22px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a :hover {
    color: #ff2f28;
}

#menu {
    display: none;
}

.menu .icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    width: 100%;
}

.header-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: flex-end;
}

.header-1 img {
    width: 300px;
}

.header-2 {
    width: 50%;
    margin-top: 80px;
    text-align: end;
}

.btn-1 {
    display: inline;
    padding: 7px 20px;
    background-color: #ff2f28;
    color: #ffffff;
    font-size: 20px;
}

.btn-2 {
    width: 110px;
    display: inline-block;
    padding: 7px 20px;
    background-color: #ff2f28;
    font-size: 20px;
    margin-top: 30px;
    color: #ffffff;
}

.movies {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #ff2f28;
    width: 50%;
    margin-bottom: 40px;
}

.box-container-1,
.box-container-2,
.box-container-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.box-1,
.box-2,
.box-3 {
    border-radius: 5px;
    z-index: 1000;
    display: none;
}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4) {
    display: inline-block;
}


.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4) {
    display: inline-block;
}

.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4) {
    display: inline-block;
}

.load-more {
    margin-top: 40px;
    display: inline-block;
    padding: 10px 25px;
} 