@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Signika+Negative:wght@300..700&display=swap');

/*main*/
main {
    margin-top: 64px;
    color: var(--main-primary-text-color);
    background-color: var(--main-bg-color); 
    min-height: calc(95vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px; 
}

main form > input {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    width: 20rem;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


h1 {
    font-family: 'Signika negative', Arial, Helvetica;
    text-shadow: 2px 2px 2px black;
    font-size: 45px;
}

.mainContainer > h1, p {
    margin-bottom: 20px;
    font-family: 'Signika negative', Arial, Helvetica;
}

::placeholder {
    color: white;
    font-family: 'Radio Canada Big';
}

/* Input container */
.contact-form .input-container {
  position: relative;
  margin: 20px;
  width: 100%;
}

/* Input field */
.contact-form .input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}


.contact-form .input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(255, 0, 0, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}


.contact-form .input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}


.contact-form .input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: #007bff;
}

.contact-form .input-field:focus + .input-label + .input-highlight {
  width: 100%;
}


.contact-form .input-field.help {
  height: 100px; 
  margin-top: 30px;
}


.contact-form .input-field,
.contact-form .help{
    font-family: 'Radio Canada Big';
  color: #ffffff; /* Color del texto */
}

.sexo{
  margin-bottom: 15px;
}

.cbox{
  margin-top: 30px;
  align-self:normal;
}

.cbox label{
  font-family: 'Signika negative', Arial, Helvetica;;
}

button {
  --primary-color: #ffff;
  --secondary-color: #002152;
  --hover-color: #eceff2;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 50px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  margin-top: 30px;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}




.warnings {
  color: #b36a7a;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}