body {
    font-family: 'system-ui', sans-serif;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-content {
    background-image: url(/assets/img/index/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.header-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.header-1 img {
    width: 300px;
}

.header-1 h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.btn {
    width: 110px;
    display: inline-block;
    padding: 7px 20px;
    background-color: #ff2f28;
    font-size: 20px;
    margin-top: 30px;
    color: #ffffff;
    text-decoration:  none;
}

.movies {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #ff2f28;
    width: 50%;
    margin-bottom: 40px;
}

.box-container-1,
.box-container-2,
.box-container-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.box-1,
.box-2,
.box-3 {
    border-radius: 5px;
    display: none;
}

.box-1:nth-child(-n+4) {
    display: inline-block;
}


.box-2:nth-child(-n+4){
    display: inline-block;
}

.box-3:nth-child(-n+4) {
    display: inline-block;
}

.load-more {
    margin: 40px 0;
    display: inline-block;
    padding: 10px 25px;
} 