main h1 {
    text-align: center;
    padding: 2rem 0;
}

main section{
    max-width: 1600px;
    margin: auto;
}

main section #resultados {
    display: flex;
    justify-content: center;
}

main section h2 {
    margin: 1rem;
}

main section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main section ul li {
    margin: 1rem;
    display: inline-block;
}

main section ul li div {
    width: 300px;
}

main section ul li div img {
    width: 100%;
}

main section ul li .info-peli {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main section ul li .info-peli h5 {
    margin: 0.5rem;
}

main section ul li div .info-peli p {
    margin: 0.5rem;
}

#paginacion {
    display: flex;
    justify-content: center;
    max-width: none;
}

#paginacion ul {
    display: flex;
    margin: 3rem 0;
}

#paginacion ul li {
    margin: 0;
    border: solid 1px var(--main-primary-text-color);
    padding: 0.5rem;
    background-color: var(--footer-bg-color);
}

#paginacion a {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    color: var(--main-primary-text-color);
    text-decoration: none;
}

#paginacion li:hover {
    cursor: pointer;
    background-color: var(--main-sercondary-text-color);
}   

#paginacion li.active {
    background-color: var(--main-primary-text-color);
}

#paginacion li.active a {
    color: var(--footer-bg-color);
    cursor: default;
}

#paginacion li.disabled {
    background-color: var(--main-bg-color);
    color: var(--main-primary-text-color);
}

#paginacion li.disabled a {
    color: grey;
    cursor: default;
}

@media screen and (max-width:500px) {
    main section ul li div {
        width: 200px;
    }

    #paginacion ul li {
        padding: 0.25rem;
    }

    #paginacion a {
        padding: 0.25rem;
    }
}