:root {
    --footer-bg-color: #132042;
    --main-bg-color: #0a1026;
    --main-primary-text-color: #feffff;
    --main-sercondary-text-color: #7290e6;
    --footer-text-color: #6c6f78;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'system-ui', sans-serif;
}

/*header*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--main-primary-text-color);
    background-color: var(--footer-bg-color);
    padding: 1rem;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--main-primary-text-color);
}

header nav ul li a:hover {
    color: var(--main-sercondary-text-color);
}

header nav img {
    margin: 0 0.5rem;
}

header .nav-secundario {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

header .nav-secundario input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    margin: 0 0.3rem;
}

header .nav-secundario input:focus {
    outline: none;
}

header .nav-secundario input::placeholder {
    color: var(--footer-text-color);
}

header .nav-secundario .boton-buscar {
    color: #feffff;
    background-color: var(--main-bg-color);
}
header .nav-secundario .boton-buscar:hover {
    color: var(--main-bg-color);
    background-color: var(--main-primary-text-color);
}

#icono-nav {
    display: none;
}

/*main*/
main {
    margin-top: 64px;
    color: var(--main-primary-text-color);
    background-color: var(--main-bg-color);
    min-height: calc(95vh - 64px);
}


/*footer*/
footer {
    display: grid;
    align-items: center;
    height: 5vh;
    text-align: center;
    color: var(--main-sercondary-text-color);
    background-color: var(--footer-bg-color);
}

@media screen and (max-width:800px) {
    header .nav-secundario{
        display: none;
    }

    header nav ul {
        gap: 5rem;
    }
}

@media screen and (max-width:715px) {
    header nav ul {
        gap: 4rem;
    }
}

@media screen and (max-width:500px) {
    header nav ul{
        display: none;
    }

    #icono-nav {
        display: flex;
        align-items: center;
    }
}